@charset "utf-8";

@import "base";

body {
  background: #d4d4d4 url("../images/background.png");
  text-align: center;
  font-family: sans-serif; }

h1 {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  background: url("../images/middleman.png") no-repeat center 100px;
  padding: 350px 0 10px;
  margin: 0; }

.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }

.welcome {
  @include animation-name(welcome);
  @include animation-duration(.9s);
}

@include keyframes(welcome) {
  from {
    @include transform(scale(0));
    opacity: 0;
  }
  50% {
   @include transform(scale(0));
   opacity: 0;
  }
  82.5% {
    @include transform(scale(1.03));
    @include animation-timing-function(ease-out);
    opacity: 1;
  }
  to {
    @include transform(scale(1));
  }
}
