<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= auto_stylesheet_link_tag %>

    <%= javascript_include_tag  "all" %>
    <%= auto_javascript_include_tag  %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
