---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
<% pages = sitemap.resources.find_all{|p| p.source_file.match(/\.html/) } %>
<% pages.each do |p| %>
    <p><%=link_to p.destination_path, p.destination_path %></p>
<% end %>
