---
layout: false
directory_index: false
url: https://gist.github.com/lukebowerman/3287848
---
<% pages = sitemap.resources.find_all{|p| p.source_file.match(/\.html/) } %>
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<% pages.each do |p| %>
  <url>
    <loc>http://youdomain.com/<%=p.destination_path.gsub('/index.html','')%></loc>
    <priority>0.7</priority>
  </url>
<% end %>
</urlset>
